{% extends "utils/base.html" %}
{% block title %}NOEL - Home{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <div class="confirm-form"> 
                    <div class="greet">
                        <img src="{% static 'images/svg/santa.svg' %}" class="svg" alt="Greeting santa image">
                        <p class="greet-text"><i class="fa-solid fa-quote-left fa-sm" style="color: #2b2a4c;"></i> Ho Ho Ho! {{ user_profile.user.first_name }}. I see you have been {{ santa_greet }}. <i class="fa-solid fa-quote-right fa-sm" style="color: #2b2a4c;"></i></p>
                    </div>
                    
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <p class="text-danger"><i class="fa-solid fa-xmark"></i> {{ message }}</p>
                                {% else %}
                                    <p class="text-success"><i class="fa-solid fa-check fa-fade"></i> {{ message }}</p>
                                {% endif %}
                                
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if user_group_count == 0 %}
                    <p>You are not a member of any group yet!</p>
                        <div class="btn-group-container">
                            <a href="{% url 'group_create' %}" class="btn btn-group-create">Create Group</a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-group-join" data-bs-toggle="modal" data-bs-target="#joinModal">
                                Join Group
                            </button>

                            <!-- Modal -->
                            {% include "utils/joinModal.html" %}
                        </div>
                    {% else %}
                        <p>You are part of; <strong><u>{{ user_group_count }}</u></strong> {% if user_group_count > 1 %} groups {% else %} group {% endif %}</p>
                        <div class="btn-group-container">
                            <a href="{% url 'group_home' %}" class="btn btn-view-group">My Groups</a>
                            <a href="#" class="btn btn-edit-profile">Edit Profile</a>
                        </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}
