{% extends "utils/base.html" %}
{% block title %}NOEL - Updating Profile{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <div class="greet">
                    <img src="{% static 'images/svg/update_profile.svg' %}" class="svg" alt="Change Password image">
                    <p class="greet-text">Updating Profile</p>
                </div>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <p class="text-danger"><i class="fa-solid fa-xmark"></i> {{ message }}</p>
                            {% else %}
                                <p class="text-success"><i class="fa-solid fa-check fa-fade"></i> {{ message }}</p>
                            {% endif %}
                            
                        {% endfor %}
                    </ul>
                {% endif %}

                <form action="" method="post">
                    {% csrf_token %}
                        <p>
                            {{ form.first_name.label_tag }}
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name" value="{{user_profile.user.first_name}}">
                        </p>

                        <p>
                            {{ form.last_name.label_tag }}
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last name" value="{{user_profile.user.last_name}}">
                        </p>
                        <p>
                            {{ form.address.label_tag }}
                            <input type="text" class="form-control" id="address" name="address" placeholder="Enter address" value="{{user_profile.address}}">
                        </p>
                        <p>
                            {{ form.gender.label_tag }}
                            <select name="gender" class="form-control" id="gender">
                                <option value="{{user_profile.gender}}" selected>{{user_profile.gender}}</option>
                                <hr>
                                <option value="Male">Male</option>

                                <option value="Female">Female</option>

                                <option value="Prefer not to say">Prefer not to say</option>
                            </select>
                        </p>

                    <button type="submit" class="btn btn-edit-profile">Update</button>
                </form>

                <hr>
                
                <h2>Change password</h2>
                <a href="{% url 'update_password' %}" class="btn btn-edit-profile">Change Password</a>
            </div>
        </div>
    </div>
{% endblock %}