version: '3.8'

services:
  web:
    container_name: "${CONTAINER_NAME:-noel}"
    build:
      context: .
    command: gunicorn noelProject.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
<<<<<<< HEAD
    container_name: "${SERVICE_NAME:-noel}"
=======
>>>>>>> b1433a02fc95a5708d3087562384e9321cd3cbb6
