version: '3.8'

services:
  web:
    build:
      context: .
    command: gunicorn noelProject.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    container_name: "${SERVICE_NAME:-noel}"
