.svg {
    height: 250px;
}

.auth-container {
    margin-top: 2rem;
}

#id_username, #id_password, #code {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
}

#id_username:focus, #id_password:focus {
    border: 3px solid #555;
}

.auth-btn {
    background-color: var(--secondary-color);
    color: white;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    border-radius: 15px;
    font-size: 2rem;
}

.auth-btn:hover {
    background-color: var(--secondary-color);
    opacity: 0.8;
}

.error-message {
    color: red;
    font-size: 1rem;
    margin: 0;
}

/* Change Password */
.errorlist {
    color: red;
    list-style-type: none;
    font-size: 1rem;
}