.group-settings {
    font-size: .6em;
}

.highlight {
    background-color: #e3e3d8;
    border: 2px solid #000;
}

.group-list {
    /* Remove bullet points */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.group-list a {
    text-decoration: none;
    display: block;
    color: white;
}

.group-list li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f1f1f1;
}

.btn-group {
    background-color: var(--primary-color);
}

/* Copy to clipboard */
.fa-copy {
    cursor: pointer;
    margin: 0 8px;
}

/* Wrap and unwrapped */
#unwrapped {
    background-color: var(--text-color);
    color: #000;
}

#unwrapped:hover {
    background-color: var(--text-color);
    opacity: 0.8;
    color: #000;
}

.wrapped-container {
    display: flex;
    flex-wrap: wrap;
}

.wrapped-text {
    width: 100%;
}

.wrapped {
    margin: 10px;
}

.btn-pick {
    background-color: var(--secondary-color);
    color: white;
    width: 40%;
}

.errorlist {
    color: red;
    list-style-type: none;
    font-size: 1rem;
}