{% extends "utils/base.html" %}
{% block title %}NOEL - Create Group{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/group.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <div class="greet">
                    <img src="{% static 'images/svg/group-create.svg' %}" class="svg" alt="Creating group image">
                    <p class="greet-text">Creating Secret Santa Group</p>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <p class="text-danger"><i class="fa-solid fa-xmark"></i> {{ message }}</p>
                            {% else %}
                                <p class="text-success"><i class="fa-solid fa-check fa-fade"></i> {{ message }}</p>
                            {% endif %}
                            
                        {% endfor %}
                    </ul>
                {% endif %}
                <div> 
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

