{% extends "utils/base.html" %}
{% block title %}NOEL - Group Invite{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/group.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <div class="greet">
                    <img src="{% static 'images/svg/group-invite.svg' %}" class="svg" alt="Inviting family and friends image">
                    <p class="greet-text">Invite new participants</p>
                </div>
            </div>

            <div class="col-12">
                <hr>
                <p>Share NOEL with you family and friends.</p>
                 <a href="whatsapp://send?text=Hello%2C%20join%20me%20on%20NOEL.%20My%20group%20name%20is%20*{{group}}*.%20Use%20this%20code%20*{{group.group_code}}*%20to%20join%20my%20group.%20Register%20with%20https%3A%2F%2Fnoel.ighomena.me%2Fauth%2Fregister%2F" target="_blank" style="color: #075e54;">
                    <i class="fa-brands fa-whatsapp" style="color: #075e54;"></i> WhatsApp
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script src="{% static 'js/group.js' %}"></script>
{% endblock %}
