{% extends "utils/base.html" %}
{% block title %}NOEL - Group Home{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/group.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <div class="greet">
                    <img src="{% static 'images/svg/group.svg' %}" class="svg" alt="Greeting santa image">
                    <p class="greet-text">Here are your Secret Santa groups!</p>
                </div>
                {% include "utils/errors/error-messages.html" %}

                <ul class="group-list">
                    {% for group in groups %}
                    <li>
                        <a href="{% url 'group_view' group_name=group.group_id %}" class="btn btn-group">{{ group.group_id }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <div class="btn-group-container">
                    <a href="{% url 'group_create' %}" class="btn btn-group-create">Create Group</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-view-group" data-bs-toggle="modal" data-bs-target="#joinModal">
                        Join Group
                    </button>

                    <!-- Modal -->
                    {% include "utils/joinModal.html" %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

