{% extends "utils/base.html" %}
{% block title %}NOEL - Unwrapped{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/group.css' %}" />
{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <div class="greet">
                    <img src="{% static 'images/svg/unwrapped.svg' %}" class="svg" alt="Unwrapped image">
                    <h2 class="greet-text">Ho Ho Ho! {{ user_profile.user.first_name }}</h2>
                </div>
                <p>You have done it!</p>

                <p>For {{ group.group_name }}, you picked: </p>
                <p>{{ picked }}</p>
                <hr>
                <p>Here is their address so you can send their gift:</p>
                <p>{{ picked_address }}</p>

                <hr>
                <div class="picked-ping">
                    <p>Incomplete or missing address? <a href="{% url 'mail_ping' email=picked_email group=group %}"><i class="fa-regular fa-bell fa-shake"></i> <u>ping them</u></a></p>
                    <p>Don't worry they would not know it's you!</p>

                    {% include "utils/errors/error-messages.html" %}

                </div>

                <a href="{% url 'group_view' group_name=group.group_name %}" class="btn btn-wrap" id="unwrapped">Go Back</a>
            </div>
        </div>
    </div>
{% endblock %}



