{% extends "utils/base.html" %}
{% block title %}NOEL - {{group}} group{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/group.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <div class="greet">
                    <img src="{% static 'images/svg/group-view.svg' %}" class="svg" alt="Viewing group image">
                    <h1 class="greet-text">{{ group }} group</h1>
                </div>
                <span>Invite code: </span><span class="invite-code">{{ group.group_code }}</span> <i class="fa-regular fa-copy" onclick="copyToClipboard()"></i> 
                <a href="{% url 'group_invite' group_name=group %}">Invite friends</a>
                <hr>
                
                {% if members.count == 0 %}
                    <p>There are no members in this group yet!</p>
                {% else %}
                    <p>There are {{ members.count }} participants in this group!</p>
                    <p>Here are the groups members:</p>
                    {% for member in members %}
                        {% if member.user_profile_id == user_profile %}
                            <p>{{ member.user_profile_id }} (You)</p>
                        {% else %}
                            <p>{{ member.user_profile_id }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <hr>

                {% if wrapped %}
                    <p>You have not yet opened your wrap</p>
                    <div class="btn-group-container">
                        <a href="{% url 'group_wrapped' group_name=group %}" class="btn btn-wrap">Open Wrap</a>
                        <a href="{% url 'group_home' %}" class="btn btn-view-group">My Groups</a>
                    </div>
                {% else %}
                    <p>You already know who you are visiting!</p>
                    <div class="btn-group-container">
                        <a href="{% url 'group_unwrapped' group_name=group %}" class="btn" id="unwrapped">Show Me</a>
                        <a href="{% url 'group_home' %}" class="btn btn-view-group">My Groups</a>
                    </div>
                {% endif %}

                <div class="leave mt-4">
                    <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#leaveModal">Leave Group</a>
                </div>

                {% if messages %}
                    <ul class="messages mt-2">
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <p class="text-danger"><i class="fa-solid fa-xmark"></i> {{ message }}</p>
                            {% else %}
                                <p class="text-success"><i class="fa-solid fa-check fa-fade"></i> {{ message }}</p>
                            {% endif %}
                            
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if group_owner %}
                    <hr>
                    <!-- Group settings modal trigger -->
                    <p class="text-info group-settings">As owner you can make changes here.</p>
                    <!-- Group status trigger -->
                    <i class="fa-solid fa-gear btn btn-warning owner-settings" data-bs-toggle="modal" data-bs-target="#statusModal"></i>
                    <!-- Group delete trigger -->
                    <i class="fa-solid fa-trash-can btn btn-danger owner-settings" data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
                    <!-- Group edit trigger -->
                    <i class="fa-solid fa-pen btn btn-primary owner-settings" data-bs-toggle="modal" data-bs-target="#editModal"></i>

                    <!-- Modals -->
                {% endif %}
                    
                {% include "utils/modal.html" %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script src="{% static 'js/group.js' %}"></script>
{% endblock %}
