{% extends "utils/base.html" %}
{% block title %}About NOEL{% endblock %}
{% load static %}

{% block style %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" /> -->
{% endblock %}

{% block main %}   
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">About NOEL</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">Welcome to NOEL - Where the Magic of Secret Santa Knows No Boundaries!</p>

                <p>At NOEL, we believe in spreading joy and creating unforgettable moments, especially during the holiday season. Our platform is dedicated to bringing families and friends closer, no matter where they are in the world. Say goodbye to geographical constraints and hello to the magic of Secret Santa, reimagined for the modern era.</p>

                <h2>Our Story:</h2>
                <p>NOEL was born out of a desire to bring families together during the holiday season. We understand that the festive period is a time for family and friends, and we wanted to create a platform that would allow loved ones to connect, no matter where they are in.</p>

                <h2>Our Mission:</h2>
                <p>At the heart of NOEL is a simple yet powerful mission - to connect loved ones through the joy of giving. We understand that distance should never be a barrier to the festive spirit, and that's why we've crafted a seamless and delightful Secret Santa experience that transcends borders.</p>

                <h2>How NOEL Works:</h2>
                <p>NOEL is your passport to festive fun! Our intuitive platform makes participating in a remote Secret Santa exchange a breeze. Simply <a href="https://noel.ighomena.me/auth/register/">Sign up</a>, create or join a group, and let the magic unfold. We use cutting-edge technology to simulate the real-life experience, ensuring each gift finds its perfect recipient, no matter the miles between them.</p>

                <h2>Why Choose NOEL?</h2>
                <strong><em>Global Connectivity:</em></strong> <span>NOEL brings families and friends together from every corner of the globe. Whether you're separated by oceans or just a few city blocks, our platform ensures everyone can join in on the festive fun.</span>
                <br>
                <strong><em>Seamless Experience:</em></strong><span>Our user-friendly interface makes navigating the Secret Santa process a joy. From creating a group to receiving and sending gifts, NOEL streamlines the entire experience so you can focus on the joy of giving.</span>
                <br>
                <strong><em>Privacy, Safe and Secure:</em></strong><span>At NOEL, we take your privacy seriously. Our platform is built on a foundation of trust, ensuring your personal information is always safe and secure. We also understand the importance of keeping the secret in Secret Santa. NOEL prioritises privacy and confidentiality, ensuring that the excitement of discovering your Secret Santa's identity remains a cherished part of the experience.</span>
                <br>
                <strong><em>Unforgettable Moments:</em></strong><span>NOEL is dedicated to creating unforgettable moments for you and your loved ones. We believe that the joy of giving is a gift in itself, and we're committed to making the experience as magical as possible.</span>
                <br>
                <strong><em>Year-Round Festivity:</em></strong><span>Who says the joy of giving should be limited to the holiday season? With NOEL, you can organise Secret Santa exchanges for birthdays, anniversaries, or any special occasion, spreading love and cheer throughout the year.</span>
                <br>
                <strong><em>Join the NOEL Family:</em></strong><span>Whether you're separated by miles or just around the corner, NOEL invites you to join our global family of festive enthusiasts. Let us be the bridge that brings your loved ones closer during the most wonderful time of the year. Create memories, share laughter, and experience the magic of Secret Santa with NOEL.</span>
                <br>
                <strong><em>Global Community:</em></strong><span>NOEL is more than just a platform - it's a community. We're dedicated to bringing people together, and we're always looking for ways to improve the experience. We welcome your feedback and suggestions, so please don't hesitate to <a href="https://noel.ighomena.me/contact">get in touch</a>!</span>
                <br>
                <strong><em>NOEL is Free:</em></strong><span>NOEL is completely free to use. We believe that the joy of giving should be accessible to everyone, and that's why we've made our platform free for all.</span>
                <br>
                <p></p>
                <p class="text-center">Let the festivities begin - because at NOEL, the spirit of giving knows no bounds!</p>
                
            </div>
        </div>
    </div>
{% endblock %}
