{% extends "utils/base.html" %}
{% block title %}Welcome to NOEL{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block main %}   
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Welcome to NOEL</h1>
          <p class="welcome-text">Noel is a platform that allows you to create and manage secret santa groups with your friends and family.</p>

          <div id="carouselExampleAutoplaying" class="carousel slide mt-5" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'images/svg/login.svg' %}" class="d-block w-100 svg" alt="...">
                <p>Login to your account!</p>
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/svg/santa_v.svg' %}" class="d-block w-100 svg" alt="...">
                <p>Create a secret santa group!</p>
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/svg/friends.svg' %}" class="d-block w-100 svg" alt="...">
                <p>Invite your family and friends!</p>  
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <i class="fa-solid fa-angle-left fa-lg" style="color: #2b2a4c;"></i>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <i class="fa-solid fa-angle-right fa-lg" style="color: #2b2a4c;"></i>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <a href="{% url 'login' %}" class="btn login-btn">Login</a>
          <a href="{% url 'register' %}" class="btn register-btn">Register</a>
        </div>
      </div>
    </div>
{% endblock %}
