{% extends "utils/base.html" %}
{% block title %}NOEL - Privacy Policy{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/info.css' %}" />
{% endblock %}

{% block main %}   
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Privacy Policy</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>At NOEL, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines the practices we follow regarding the collection, use, and protection of your data when you interact with our Secret Santa platform. By using NOEL, you agree to the terms outlined in this policy.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>1. Information We Collect:</h2>
                <p class="sub"><u>a. User Information:</u> When you sign up for NOEL, we collect basic information such as your name, email address, address, and other details necessary for account creation.</p>
                <p class="sub"><u>b. Groups:</u> To facilitate the purpose of the platform, we ask users to create a group with a name which we store.</p>
                <p class="sub"><u>c. Cookies:</u> We use cookies to collect information about your activity on NOEL. We use this information to improve the performance of our platform.</p>

                <h2>2. How We Use Your Information:</h2>
                <p class="sub"><u>a. Secret Santa Matching:</u> Your user information and groups are used exclusively to match participants in the Secret Santa exchange, ensuring a delightful and personalised experience.</p>
                <p class="sub"><u>b. Communication:</u> We may use your email address to send important updates, notifications, and information related to the NOEL platform.</p>
                <p class="sub"><u>c. Improvement of Services:</u> Anonymous and aggregated data may be used to analyse user trends, enhance our services, and improve the overall user experience.</p>

                <h2>3. Data Security:</h2>
                <p class="sub"><u>a. Encryption:</u> NOEL employs industry-standard encryption protocols to protect your data such as passwords during transmission.</p>
                <p class="sub"><u>b. Secure Storage:</u> Your personal information is securely stored on our servers, and we implement robust measures to prevent unauthorised access.</p>

                <h2>4. Sharing Your Information:</h2>
                <p class="sub"><u>a. Secret Santa Matching:</u> Only the necessary information required for Secret Santa matching is shared with other participants. Personal details beyond what is needed for the exchange remain confidential.</p>

                <h2>5. Your Choices:</h2>
                <p class="sub"><u>a. Profile Settings:</u> You have the option to manage and update your profile settings, including privacy preferences and communication settings.</p>
                <p class="sub"><u>a. Account Deactivation:</u> If you choose to deactivate your account, your personal information will be securely deleted from our servers within 48 hours.</p>

                <h2>6. Policy Updates:</h2>
                <p>NOEL may update this Privacy Policy periodically to reflect changes in our practices. We will notify users of any significant updates via email or through the platform.</p>

                <h2>7. Contact Us:</h2>
                <p>If you have any questions or concerns regarding your privacy or this Privacy Policy, please <a href="https://noel.ighomena.me/contact">contact us</a>.</p>
                
                <p class="text-center">Thank you for choosing NOEL. We are dedicated to making your Secret Santa experience delightful, secure, and, above all, private.</p>
            </div>
        </div>
    </div>
{% endblock %}