<!-- Settings modal -->
<div class="modal fade" id="settingModal" tabindex="-1" aria-labelledby="settingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="settingModal">Changing {{ group }} settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="code_form">
                    {% csrf_token %}
                    {% if is_open %}
                        <p>Group is open</p>
                        <input type="checkbox" name="group_check_box" id="group_check_box" checked="checked">
                        <label for="group_check_box">Open group</label>
                    {% else %}
                        <p for="open">Group is closed</p>
                        <input type="checkbox" name="open" id="open">
                        <label for="open">Open group</label>
                    {% endif %}
            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submit" onClick="loading();">Save Changes</button>
                    </div>
                </form>
        </div>
    </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModal">Deleting {{ group }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span class="highlight">{{ group }}</span>?</p>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'group_delete' group_name=group.group_name %}" class="btn btn-danger">Yes, delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Leave modal -->
<div class="modal fade" id="leaveModal" tabindex="-1" aria-labelledby="leaveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="leaveModal">Leaving {{ group }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to leave {{ group }}?</p>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'group_leave' group_name=group %}" class="btn btn-danger">Yes, leave</a>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModal">Editing {{ group }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="code_form" action="{% url 'group_edit' group_name=group %}">
                    {% csrf_token %}
                    <label for="group_name">New Group name:</label>
                    <input type="text" name="group_name" id="group_name" value="{{group}}" class="form-control">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>