@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Mountains+of+Christmas&family=Pacifico&family=Pinyon+Script&display=swap');

.container-fluid {
    text-align: center;
}

h1 {
    font-family: 'Berkshire Swash', serif;
    font-size: 2.2rem;
}

.welcome-text {
    font-size: 1rem;
    margin: 1rem 0;
}

.login-btn, .register-btn {
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
}

.login-btn {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.register-btn {
    background-color: var(--text-color);
    color: #000;
}

.login-btn:hover {
    background-color: var(--secondary-color);
    opacity: 0.8;
    color: #fff;
}

.register-btn:hover {
    background-color: var(--text-color);
    opacity: 0.8;
    color: #fff;
}

/* Default size for large screens */
.svg {
    height: 250px;
}

.carousel-item {
    height: 500px;
}

/* Sizes for smaller screens */
@media (max-width: 768px) {
    .carousel-item {
        height: 400px;
    }
}

/* Sizes for mobile devices */
@media (max-width: 576px) {
    .carousel-item {
        height: 200px;
    }

    .svg {
        height: 150px;
    }
}
