@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Mountains+of+Christmas&family=PT+Serif&family=Pacifico&family=Pinyon+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Serif', serif;
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #EEE2DE;
    --primary-color: #B31312;
    --secondary-color: #2B2A4C;
    --bg-color: #EEE2DE;
    --text-color: #EA906C;
}

/* NAVBAR */
.bg-noel {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.navbar-brand, .footer-brand {
    font-family: 'Mountains of Christmas', serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--bg-color);
}

.navbar-brand:hover, .footer-brand:hover {
    color: var(--text-color);
}

.navbar-toggler {
    background-color: var(--bg-color);
}

.nav-item a {
    color: var(--bg-color);
    text-decoration: underline;
}

/* SIDEBAR */
.offcanvas-body {
    background-color: var(--primary-color);
    color: white;
}

.offcanvas-header {
    background-color: var(--secondary-color);
    color: #fff;
    font-family: 'Mountains of Christmas', serif;
    height: 4.6rem;
}

.offcanvas-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.btn-close {
    background-color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.offcanvas-end {
    width: 15rem !important;
}

.side-item {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 0.5rem;
    font-weight: bold;
}

.side-item:hover {
    background-color: var(--style-color);
    color: var(--fifth-color);
}

/* MAIN */
main {
    min-height: 100vh;
    margin-top: .5rem;
}

/* FOOTER */

.mb-2 a {
    color: #000;
    text-decoration: none;
}