{% extends "utils/base.html" %}
{% block title %}NOEL - Changing Password{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />

{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <div class="greet">
                    <img src="{% static 'images/svg/change_password.svg' %}" class="svg" alt="Change Password image">
                    <p class="greet-text">Changing Password</p>
                </div>
                {% include "utils/errors/error-messages.html" %}

                <form action="" method="post">
                    {% csrf_token %}
                    {{ password_form.as_p }}

                    <button type="submit" class="btn btn-edit-profile">Change Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}