{% extends "utils/base.html" %}
{% block title %}NOEL - Login{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" />
{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <img src="{% static 'images/svg/login_page.svg' %}" class="d-block w-100 svg" alt="Login page image">
                <h1 class="text-center">Login</h1>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <p class="text-danger"><i class="fa-solid fa-xmark"></i> {{ message }}</p>
                            {% else %}
                                <p class="text-success"><i class="fa-solid fa-check fa-fade"></i> {{ message }}</p>
                            {% endif %}
                            
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="login-form"> 
                    <form method="post">
                        {% csrf_token %}
                        <div id="username-field">
                            <em><strong><span>Email:</span></strong></em>
                            {{ form.username }}
                        </div>
                        {% if userError %} 
                            <p class="error-message">Your email is incorrect. Please try again.</p>
                        {% endif %}
                        {% if formError %} 
                            <p class="error-message">Please enter a valid email address.</p>
                        {% endif %}
                        <div id="password-field">
                            <em><strong><span>Password:</span></strong></em> <!-- {{ form.password.label_tag }} -->
                            {{ form.password }}
                        </div>
                        {% if passwordError %}
                            <p class="error-message">Your  password is incorrect. Please try again.</p>
                        {% endif %}
                        <button type="submit" class="auth-btn">Enter</button>
                        <a href="{% url 'reset_password' %}">Forgot Password?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

