{% extends "utils/base.html" %}
{% block title %}NOEL - Login{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" />
{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <img src="{% static 'images/svg/login_page.svg' %}" class="d-block w-100 svg" alt="Login page image">
                <h1 class="text-center">Login</h1>
                {% include "utils/errors/error-messages.html" %}
                
                <div class="login-form"> 
                    <form method="post">
                        {% csrf_token %}
                        <div id="email-field">
                            <em><strong><span>Email:</span></strong></em>
                            {{ form.email }}
                        </div>
                        <div id="password-field">
                            <em><strong><span>Password:</span></strong></em> <!-- {{ form.password.label_tag }} -->
                            {{ form.password }}
                        </div>
                        <button type="submit" class="auth-btn">Enter</button>
                        <a href="{% url 'reset_password' %}">Forgot Password?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

