{% extends "utils/base.html" %}
{% block title %}NOEL - Login{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" />
{% endblock %}

{% block main %}
    <div class="container auth-container">
        <div class="row">
            <div class="col-12">
                <div class="login-form"> 
                    <form method="post">
                        {% csrf_token %}
                        <div id="username-field">
                            <em><strong><span>Username:</span></strong></em>
                            {{ form.username }}
                        </div>
                        <div id="password-field">
                            <em><strong><span>Secret Key:</span></strong></em> <!-- {{ form.password.label_tag }} -->
                            {{ form.password }}
                        </div>
                        <button type="submit" class="auth-btn">Enter</button>
                        <a href="#">Forgot Password?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

