{% extends "utils/base.html" %}
{% block title %}NOEL - Reset Password{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" />
{% endblock %}

{% block main %}
<div class="container auth-container">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'images/svg/reset-password.svg' %}" class="d-block w-100 svg" alt="Login page image">
            <h1 class="text-center">Reset Password</h1>
            <div class="login-form">
                <form method="post">
                    {% csrf_token %}
                    <div id="username-field">
                        <em><strong><span>Email:</span></strong></em>
                        {{ form.email }}
                    </div>
                    {% if userError %}
                        <p class="error-message">Your email is incorrect. Please try again.</p>
                    {% endif %}
                    {% if formError %} 
                        <p class="error-message">Please enter a valid email address.</p>
                    {% endif %}

                    <button type="submit" class="auth-btn">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}