{% extends "utils/base.html" %}
{% block title %}NOEL - Set New Password{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" />
{% endblock %}

{% block main %}
<div class="container auth-container">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'images/svg/reset-password.svg' %}" class="d-block w-100 svg" alt="Login page image">
            <h1 class="text-center">Reset Password</h1>
            {% include "utils/errors/error-messages.html" %}
            
            <div class="login-form">
                <form method="post">
                    {% csrf_token %}

                    <div id="password-field">
                        <em><strong><span>New Password:</span></strong></em>
                        {{ form.password }}
                    </div>

                    <div id="confirm-password-field">
                        <em><strong><span>Confirm Password:</span></strong></em>
                        {{ form.confirm_password }}
                    </div>

                    <button type="submit" class="auth-btn">
                        Reset Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}