<!-- Email to ping group member to add their wishlist -->

{% extends "mail/mail-base.html" %}
{% block title %}NOEL - Ping User{% endblock %}

{% block body %}
<h2>Hi {{ user.first_name }},</h2>

<p>It seems you have not added any items to your wishlist yet.</p>
<p>A member of Secret Santa group <u>{{ group }}</u> has pinged you to update your wishlist!</p>

<p>Please <a href="{{ frontend_url }}/wishlist">Update your wishlist here</a></p>

{% endblock %}

{% block sender %}Dancer{% endblock %}
