<!-- Email to ping group member to add their address -->

{% extends "mail/mail-base.html" %}
{% block title %}NOEL - Ping User{% endblock %}

{% block body %}
<h2>Hi {{ user.first_name }},</h2>

<p>It seems your address is incomplete or missing</p>
<p>A member of Secret Santa group <u>{{ group }}</u> has pinged you to update your address!</p>

<p>Please <a href="https://noel.ighomena.me/profile">Update your address here</a></p>

{% endblock %}

{% block greeting %}Thanks,{% endblock %}
{% block sender %}Dancer{% endblock %}
