{% extends "mail/mail-base.html" %}
{% block title %}NOEL - You Just Reset Your Password{% endblock %}

{% block body %}
<h2>Ho Ho {{ name }},</h2>
<p>Prancer here,</p>
<p>It seems you have just reset your password. If you did not do this, please <a href="{{ frontend_url }}/contact">contact</a> Santa immediately.
</p>
<p>If you did, then you are all set. You can now login to your account with your new password.</p>
<p>Click to <a href="{{ frontend_url }}/login">login to your account.</a></p>
{% endblock %}

{% block sender %}Prancer{% endblock %}
