{% extends "mail/mail-base.html" %}
{% block title %}NOEL - Verify Email{% endblock %}

{% block body %}

<h1>NOEL</h1>

<h2>Complements {{ first_name }},</h2>

<p>Prancer here,</p>
<p>Santa is busy preparing gifts so he sent me to remind you to verify your account on NOEL.</p>

Your verification code is: <b>{{ verification_code }}</b>
Copy and paste the code in the <a href="https://noel.ighomena.me/auth/verify-email/">Verification page</a> or click the link below to verify your email.
<p>Please <a href="https://noel.ighomena.me/auth/verify-email/?token={{ verification_code }}">Verify your email here</a></p>

{% endblock %}

{% block greeting %}Thanks,{% endblock %}
{% block sender %}Dancer{% endblock %}